
/********************************************
**  Privacy Policies Page  **
********************************************/

/*
General
*/


.privacy-section section {
  border-bottom: solid thin rgb(220,220,220);
 }

/*
Page header
*/

/*
Section headings
 */

 .privacy-section h1, h2, h3, h4, h5, h6, h7 {
  /* font-family: serif; */
  font-weight: bold;
 }

 /* .privacy-section contents h1 {
    font-size: 60px;
    line-height: 48.4px;
 } */

/*
Navigation
*/

.privacy-section nav a {
  text-decoration: none;
  color: black;
 }

.privacy-section nav a:hover {
  color: #0E6163;
 }

/*
General content elements and styles
*/

.privacy-section ul, ol {
  color: #0E6163;
  /* font-weight: bold; */
  /* font-family: serif; */
  font-size: 16px;
 }

 .privacy-section ul {
  list-style: square outside;
 }

 .privacy-section ol span {
  color: black;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.84em;
 }
 
 .privacy-section ul span {
  color: black;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 0.84em;
 }
 
 .privacy-section blockquote {
  border-left: solid thick #0E6163;
 }
 
 .privacy-section em {
  font-style: italic;
 }

 .privacy-section strong {
  font-weight: bold;
  color: #0E6163;
 }

/* .privacy-section Nav to-top elements */

.privacy-section nav.to-top {
    font-size: 20px;
    display: block;
    padding: 2.5em 0.5em 0.5em 2.5em;
    margin: 0;
    width: auto;
    position: absolute;
    right: 2em;
    left: auto;
    border-style: none;
    background-color: transparent;
 }

 .privacy-section nav.to-top a {
  margin: 0; border: 0;
  text-decoration: none;
  color: royalblue;
  font-size: 0.8em;
  font-weight: bold;
  font-family: sans-serif;
 }

 .privacy-section nav.to-top a:hover {
  text-decoration: underline;
 }

 
/********************************************
**  Style for devices with small displays  **
********************************************/
@media (max-width: 46.9em){

/*
General
*/


/*
Page header
*/

.privacy-section header h1 {
  /* padding: 0.5em 0 0 0; */
  font-size: 2.5em;
 }

/*
Section headings
 */

 .privacy-section h2, h3, h4, h5, h6, h7 {
  /* margin: 0.2em 0 0 1em; */
  /* padding: 0.1em; */
 }

 .privacy-section h1 {
  font-size: 1.5em;
/*  margin: 0 0 1em 0;*/
 }

 .privacy-section h2 {
  font-size: 1.2em;
}

.privacy-section h3 {
 font-size: 1.13em;
 }
 
 .privacy-section h4 {
  font-size: 1.07em;
 }


/*
Navigation
*/

/* .privacy-section Nav bar */

.privacy-section nav {
  margin: 1em 10% 1em 10%;
  padding: 1em 0 0 0;
  width: 22em;
  border: solid thin rgb(240,240,240);
 }

.privacy-section nav ul {
  margin: 0;
  list-style: square outside;
 }

.privacy-section nav a {
  /* font-family: serif; */
 }

.privacy-section nav a:hover {
  font-weight: bold;
 }

}


/********************************************
**  Style for devices with large displays  **
********************************************/
@media (min-width: 47em) {


/*
General
*/

.privacy-section section {
  /* margin: 0 -0.5em 1em -0.5em;
  padding: 2em 8% 2em 8%; */
 }


/*
Page header
*/
 
.privacy-section header {
  margin: 0 -0.5em 0 -0.5em;
 }
 
 .privacy-section header h1 {
  padding: 0.5em 0 0 0;
  font-size: 4em;
 }


/*
Section headings
 */

 .privacy-section h2, h3, h4, h5, h6, h7 {
  /* margin: 0.8em 0 0 7%; */
  padding: 0.2em;
 }

 .privacy-section h1 {
  font-size: 2em;
  /* text-align: start; */
  margin: 0 0 1em 0;
 }

 .privacy-section h2 {
  font-size: 1.65em;
}

.privacy-section h3 {
 font-size: 1.4em;
 }
 
 .privacy-section h4 {
  font-size: 1.15em;
 }


/*
Other content elements
*/

.privacy-section blockquote {
  padding: 0 0 0 1.2em;
  margin: 0 6em 0 4em;
 }

 .privacy-section ul, ol{
 padding: 0 6em 0 6em;
 }


/*
Navigation
*/

/* .privacy-section Nav bar */

.privacy-section nav {
  padding: 0 0 3.5em 0;
  margin: 0 0 0 0;
 }

.privacy-section nav h1 {
  display: none;*//* (display off-page?) */
 }

.privacy-section nav ul {
  margin: 0 0 0 -22.5em;
  padding: 0;
  float: left;
  position: absolute;
  /* width: 45em; */
  left: 50%;
  border: solid thin rgb(240,240,240);
  list-style: none outside;
 }

.privacy-section nav li {
  float: left;
  margin: 1em;
 }
 
.privacy-section nav li ul {
  display: none;
 }

.privacy-section nav a {
  font-size: 1.1em;
  font-weight: bold;
  font-family: sans-serif;
 }

}


/**************************
**  Style for printouts  **
**************************/
@media print {

.privacy-section nav.to-top {
  display: none;
 }

}


